.header__container {
    width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__cep-form {
    margin-top: 80px;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
  }

  &__map {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__map-item {
    padding-bottom: 12px;
  }

  &__button-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep .switch-icon-left,
::ng-deep .switch-icon-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  transition: opacity 0.3s ease;
  z-index: 5;
}

::ng-deep .switch-icon-left {
  left: 10px;
  color: #000000;
}

::ng-deep .switch-icon-right {
  right: 8px;
  color: #000000;
}

@media (max-width: 600px) {
    .container {
        width: 80% !important;
        margin-top: 14% !important;
    }

    ::ng-deep .p-toast.p-component {
        width: 20rem !important;
    }
    
    ::ng-deep .p-dialog.p-component {
      transform: scale(0.75) !important;
    }
}
